<html lang="en">

<head>
    <%- include('components/header', { title: 'User Settings' }) %>
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix"> 
            <h1 class="fancy-header-large">Settings</h1>
            <p class="text-secondary mb-2">View / Change your profile below<p>

            <p class="text-start mb-1 text-secondary">Your Username</p>
            <input type="text" class="form-control mb-2" placeholder="Discord Tag" value="<%= session.userTag %>" disabled>

            <p class="text-start mb-1 text-secondary">Your ID</p>
            <input type="text" class="form-control mb-2" placeholder="Discord ID" value="<%= session.discordId %>" disabled>

            <p class="text-start mb-1 text-secondary">Your Minecraft Username</p> 
            <% if (session.mcName) { %>
                <input type="text" class="form-control mb-4" placeholder="Minecraft Username" value="<%= session.mcName %>" disabled>
            <% } else { %>
                <input type="text" class="form-control mb-4" placeholder="Minecraft Username" value="Not linked" disabled>
            <% } %>

            <div id="btnToolbar" class="btn-toolbar mt-2" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/settings/mc';"><i class="fa-solid fa-cubes"></i> Change Minecraft Username</button>
            </div>

            <div id="btnToolbar" class="btn-toolbar mt-2 mb-1" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i> Go Back</button>
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact Support</button>
            </div>

            <p class="mt-1 text-secondary text-center fs-6">
            &copy; Protagnst Media LLC / Blaze Productions LLC 2022</p>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>