<html lang="en">

<head>
    <%- include('components/header', { title: 'Select a Form' }) %>
        <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <div id="error">
        <div class="error err-fix">
            <h1 class="fancy-header-small">Submission #<%- submissionId %></h1>
            <p class="text-secondary mb-4">For form: <%- formName %></p>

            <form></form>

            <div id="stafftools"></div>

            <div id="btnToolbar" class="btn-toolbar mt-4 mb-1" style="justify-content: center; display: flex;">
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = 'javascript:history.back()';"><i class="fa-solid fa-left-long"></i> Go Back</button>
                <button type="button" id="btnSubmit" class="btn btn-primary btn-md me-2"
                    onclick="window.location.href = '/support';"><i class="fa-solid fa-phone"></i> Contact Support</button>
            </div>

            <p class="mt-1 text-secondary text-center fs-6">
                &copy; Protagnst Media LLC / Blaze Productions LLC 2022
            </p>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-danger border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="liveToast">
            <div class="d-flex">
                <div class="toast-body">
                    There was an error processing your request.
                    Please try again later.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive"
            aria-atomic="true" id="successToast">
            <div class="d-flex">
                <div class="toast-body">
                    Welcome home.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>

    <%- include('components/loader') %>
</body>

</html>

<script>
    window.onload = async function () {
        let url = new URL(window.location.href);
        let hostname = url.origin;

        let submissionId = '<%= submissionId %>';

        let subData = await fetch(`${hostname}/api/getSubmission/${submissionId}?isFromServer=f1424090948c`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => res.json());

        await renderQuestions(subData.submission.form_id, subData);
        await renderStaffFunctions('<%- session.discordId %>', subData);
    }

    async function renderStaffFunctions(discordId, subData) {
        let url = new URL(window.location.href);
        let hostname = url.origin;

        let data = await fetch(`${hostname}/api/fetchUserPerms/${discordId}?isFromServer=170c455e9a4a`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(res => res.json()).then(data => {
            return data;
        });

        if (data.permission_level > 2) {
            // let btnToolbar = document.getElementById('btnToolbar');
            // let staffToolsText = document.getElementById('staffToolsText');

            // staffToolsText.innerHTML = '<b>Staff Tools:</b>';

            // let btnAccept = document.createElement('button');
            // btnAccept.type = 'button';
            // btnAccept.id = 'btnAccept';
            // btnAccept.className = 'btn btn-success btn-md me-1';
            // btnAccept.innerHTML = '<i class="fa-solid fa-check"></i> Accept';
            // btnAccept.onclick = () => handleSingleAccept();

            // let btnDeny = document.createElement('button');
            // btnDeny.type = 'button';
            // btnDeny.id = 'btnDeny';
            // btnDeny.className = 'btn btn-danger btn-md me-1';
            // btnDeny.innerHTML = '<i class="fa-solid fa-times"></i> Deny';
            // btnDeny.onclick = () => handleSingleDeny();

            // btnToolbar.appendChild(btnAccept);
            // btnToolbar.appendChild(btnDeny);

        if (data.perms > 2) {
            let staffTools = document.getElementById('stafftools');

            let staffAlertBox = document.createElement('div');
            staffAlertBox.className = 'alert alert-dark';
            staffAlertBox.role = 'alert';
            
            let staffAlertBoxText = document.createElement('p');
            staffAlertBoxText.className = 'mb-0';
            staffAlertBoxText.innerHTML = '<b>Staff Tools:</b>';

            let btnAccept = document.createElement('button');
            btnAccept.type = 'button';
            btnAccept.id = 'btnAccept';
            btnAccept.className = 'btn btn-success btn-md me-1';
            btnAccept.innerHTML = '<i class="fa-solid fa-check"></i> Accept';
            btnAccept.onclick = () => handleSingleAccept();

            let btnDeny = document.createElement('button');
            btnDeny.type = 'button';
            btnDeny.id = 'btnDeny';
            btnDeny.className = 'btn btn-danger btn-md me-1';
            btnDeny.innerHTML = '<i class="fa-solid fa-times"></i> Deny';
            btnDeny.onclick = () => handleSingleDeny();

            staffAlertBox.appendChild(staffAlertBoxText);
            staffAlertBox.appendChild(btnAccept);
            staffAlertBox.appendChild(btnDeny);

            staffTools.appendChild(staffAlertBox);
        }
    }

    function handleSingleAccept() {
        let url = new URL(window.location.href);
        let submissionId = url.pathname.split('/').pop();

        document.getElementById('btnAccept').disabled = true;
        document.getElementById('btnDeny').disabled = true;

        $.ajax({
            url: '/api/admin/accept/' + submissionId,
            type: 'POST',
            data: { "ahM9WEXF79G": true, submissionId },

            success: function (data) {
                if (data.error) {
                    document.getElementById('btnAccept').disabled = false;
                    document.getElementById('btnDeny').disabled = false;

                    let error = 'There was an error processing your request. Please try again later.';
                    if (data.error) error = data.error;
                    return showErrorToast('liveToast', error);
                } else if (data.success) {
                    let message = 'Submission ID #' + submissionId + ' accepted.';
                    if (data.message) message = data.message;
                    showSuccessToast('successToast', message);
                    setTimeout(() => {
                        window.location.href = '/admin/view';
                    }, 2000);
                }
            },
            error: function (data) {
                document.getElementById('btnAccept').disabled = false;
                document.getElementById('btnDeny').disabled = false;

                return showErrorToast('liveToast', 'There was an error processing your request. Please try again later.');
            }
        });
    };

    function handleSingleDeny() {
        let url = new URL(window.location.href);
        let submissionId = url.pathname.split('/').pop();

        document.getElementById('btnAccept').disabled = true;
        document.getElementById('btnDeny').disabled = true;

        $.ajax({
            url: '/api/admin/deny/' + submissionId,
            type: 'POST',
            data: { "ahM9WEXF79G": true, submissionId },

            success: function (data) {
                if (data.error) {
                    document.getElementById('btnAccept').disabled = false;
                    document.getElementById('btnDeny').disabled = false;

                    let error = 'There was an error processing your request. Please try again later.';
                    if (data.error) error = data.error;
                    return showErrorToast('liveToast', error);
                } else if (data.success) {
                    let message = 'Submission ID #' + submissionId + ' denied.';
                    if (data.message) message = data.message;
                    showSuccessToast('successToast', message);
                    setTimeout(() => {
                        window.location.href = '/admin/view';
                    }, 2000);
                }
            },
            error: function (data) {
                document.getElementById('btnAccept').disabled = false;
                document.getElementById('btnDeny').disabled = false;

                return showErrorToast('liveToast', 'There was an error processing your request. Please try again later.');
            }
        });
    };

    function renderQuestions(formId, subData) {
        $.ajax({
            url: `/api/getQuestions/${formId}`,
            type: 'GET',
            data: { "f9d14b6cb97d": true },
            success: function (data) {
                // get form data from subData and parse it into a true json object
                let formData = JSON.parse(subData.submission.data);

                // loop through the questions
                for (var i = 0; i < data.length; i++) {
                    // create a new div for the question
                    var newDiv = document.createElement('div');
                    newDiv.className = 'form-label-group';

                    // create a new label for the question
                    var newLabel = document.createElement('p');
                    newLabel.className = 'text-start mb-1 text-secondary';
                    newLabel.innerHTML = data[i].question + ' <span class="text-danger">*</span>';

                    if (data[i].type === "textarea") {
                        var newInput = document.createElement('textarea');
                        newInput.className = 'form-control mb-1';
                        newInput.name = data[i].short_id;
                        newInput.required = true;
                        newInput.id = data[i].short_id;
                        newInput.disabled = true;
                        newInput.value = formData[data[i].short_id];
                    } else {
                        var newInput = document.createElement('input');
                        newInput.type = data[i].type;
                        newInput.className = 'form-control mb-1';
                        newInput.name = data[i].short_id;
                        newInput.required = true;
                        newInput.id = data[i].short_id;
                        newInput.disabled = true;
                        newInput.value = formData[data[i].short_id];
                    }

                    // append the label and input to the div
                    newDiv.appendChild(newLabel);
                    newDiv.appendChild(newInput);

                    // append the div to the form
                    document.getElementsByTagName('form')[0].appendChild(newDiv);
                }
            },
            error: function (data) {
                showErrorToast('liveToast', 'There was an error processing your request. Please try again later.');
            }
        });
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    function showErrorToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }

    function showSuccessToast(toastId, errormsg) {
        var toastLiveExample = document.getElementById(toastId)
        var toast = new bootstrap.Toast(toastLiveExample)
        toastLiveExample.querySelector('.toast-body').innerText = errormsg;
        toast.show();
    }
</script>